
/* 지역 선택 */
.map_wrap { position: fixed;left: 0; top: 0; width: 100%; height: 100%;  display: flex; align-items: center; justify-content: center;  background-color: #F5F5F5; z-index: 100;}
.map_wrap .map_inner {position: relative; display: flex;align-items: center; justify-content: space-between; width: 90%; max-width: 1380px;  height: 100%;}
.map_wrap .map_bgbox { position: absolute;  left: 0;  top: 50%;  transform: translateY(-50%); width: 50%; height: 100%; opacity: 0.2; display: flex;  justify-content: center;  align-items: center;}
.map_wrap .map_bgbox > img { max-height: 100%; width: auto; max-width: initial;}
.map_wrap .left_box { width: 50%; background-color: rgba(255,255,255,0.85); border-radius: 30px; box-shadow: 4px 4px 15px 0px rgba(173, 86, 86, 0.1); padding: 4rem 3rem 6rem; box-sizing: border-box; display: flex; flex-direction: column; gap: 3rem; min-height: 35rem; position: sticky; top: 0;}
.map_wrap .left_box .title{position: relative;}
.map_wrap .left_box .title .tit {color: #3B4E72; font-size: 2.35rem;  font-weight: 600; margin-bottom: 0.85rem;}
.map_wrap .left_box .title .desc {color: #777; font-size: 1.7rem;  font-weight: 500;}
.map_wrap .left_box .region_form{ width: 100%;}
.map_wrap .left_box .region_select { display: flex; flex-wrap: wrap;  gap: 1.176rem;}
.map_wrap .left_box .region_select .form-check { min-height: initial;  padding: 0;  margin: 0; width: calc((100% - 1.176rem * 4)/5);}
.map_wrap .left_box .region_select .form-check-input{display: none;}
.map_wrap .left_box .region_select .form-check-label { color: #444;  font-size: 1.176rem;  font-weight: 500; padding: 0.412rem; width: 100%;  display: inline-flex; justify-content: center; align-items: center;  border-radius: 50px; background: #F1F1F1; transition: all 0.4s ease; cursor: pointer; box-sizing: border-box;}
.map_wrap .left_box .region_select .form-check-input:checked + .form-check-label{background: #3B4E72; color: #fff;}
.map_wrap .right_box { width: 45%; max-height: 90%; overflow-y: auto;  padding-right: 1.5rem;}
.map_wrap .right_box::-webkit-scrollbar {width: 10px; }
.map_wrap .right_box::-webkit-scrollbar-thumb { background-color: #3B4E72; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent; }
.map_wrap .right_box::-webkit-scrollbar-track { background-color: #ddd;  border-radius: 10px;}
.map_wrap .right_box .video_box { display: flex; align-items: flex-start;  justify-content: flex-start; gap: 20px; flex-wrap: wrap;  padding-bottom: 1rem;}
.map_wrap .right_box .video_item { width: calc((100% - 20px)/2);  background-color: #fff; box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.15);  border-radius: 15px; overflow: hidden;}
.map_wrap .right_box .video_item .thum { position: relative; display: flex;overflow: hidden; width: 100%; height: 0; padding-bottom: 50%;}
.map_wrap .right_box .video_item .thum > img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0;  top: 0;}
.map_wrap .right_box .video_item .thum::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 60%;  background: linear-gradient(to top, black, transparent); z-index: 10; opacity: 0.4;}
.map_wrap .right_box .video_item .txtbox { padding: 0.75rem 0.75rem 1rem}
.map_wrap .right_box .video_item .video_tit { color: #000; font-size: 1rem; font-weight: 600; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;  margin-bottom: 0; line-height: 1.5em; min-height: 3em;}
.map_wrap .right_box .video_item .video_info {display: flex; align-items: center; gap: 0.25rem; margin-top: 0.5rem; }
.map_wrap .right_box .video_item .video_info span {color: #444;font-size: 0.85rem;}
.map_wrap .right_box .video_item .video_info span.dot {display: block;  width: 3px;height: 3px; background-color: #444444; border-radius: 50%;}



/* 지역 선택 결과 */
.map_result_wrap {position: relative; width: 100%;}
.map_result_wrap .map_banner {position: relative; width: 100%;height: 20rem;}
.map_result_wrap .map_banner::after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(to top, black, transparent); opacity: 0.5;}
.map_result_wrap .map_banner img { width: 100%; height: 100%;  object-fit: cover;}
.map_result_wrap .map_banner .txtbox { position: absolute;  left: 50%; bottom: 10%;  width: 90%; max-width: 1000px;  transform: translateX(-50%); text-align: right;  z-index: 10;}
.map_result_wrap .map_banner .txtbox .desc { font-size: 1rem;  color: #fff;  margin-bottom: 0.5rem;}
.map_result_wrap .map_banner .txtbox .tit { font-size: 2rem;  color: #fff; margin-bottom: 0;}

.map_result_wrap .map_result_inner { display: flex;  align-items: flex-start; gap: 2rem;}

.map_result_wrap .map_content { flex: 1; max-width: 67.2%;}
.map_result_wrap .map_type_select {display: flex; align-items: center; justify-content: center; gap: 4%; margin: 4rem 0;}
.map_result_wrap .map_type_select > li { position: relative;  width: 22%;  height: 0;  padding-bottom: 22%;  cursor: pointer;  background: linear-gradient(to top, #3b4e72, #02275f); border-radius: 100px;  box-shadow: 4px 4px 12px rgba(0,0,0,0.25);transition: all .4s ease;}
.map_result_wrap .map_type_select > li:hover { transform: translateY(-15px);}
.map_result_wrap .map_type_select > li .box { position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%,-50%); width: 75%;  display: flex; flex-direction: column; align-items: center;  gap: 1rem;}
.map_result_wrap .map_type_select > li .icon {width: 90%; max-width: 60px;}
.map_result_wrap .map_type_select > li .txt { font-size: 1.2rem;  margin-bottom: 0;  color: #fff;}
.map_result_wrap .map_type_select > li.selected {background: linear-gradient(to top, #FF00FF, #02275f);}


.map_result_wrap .select_filter { display: flex; align-items: center; gap: 10px;}
.map_result_wrap .select_filter .select_box { flex: 1;}
.map_result_wrap .select_filter .select_box .form-select {  font-size: 1.1rem; font-weight: 500; border: none; color: #3B4E72;  padding: 0.75rem 2.25rem 0.75rem 1.5rem; box-shadow: none;  background-color: #F1F1F1; text-overflow: ellipsis;}
.map_result_wrap .year_filter { display: flex; flex-wrap: wrap;  gap: 10px; margin-top: 10px;}
.map_result_wrap .year_filter .filter_box { display: flex; align-items: center;  gap: 10px; font-size: 1.1rem; font-weight: 500; color: #444444; width: calc((100% - 20px)/3);}
.map_result_wrap .year_filter .filter_box .year-label { font-size: 1.1rem; font-weight: 700; color: #3B4E72;}
.map_result_wrap .year_filter .filter_box .form-control { font-size: 1.1rem;  font-weight: 500;  border: none;  color: #3B4E72;  padding: 0.75rem 0.5rem; box-shadow: none; background-color: #F1F1F1;  text-align: center; flex: 1;}
.map_result_wrap .year_filter .filter_box .form-control::placeholder { color: #c5c5c5;}
.map_result_wrap .year_filter .search-group { flex: 1; display: flex; align-items: center; gap: 10px;}
.map_result_wrap .year_filter .search-group .form-control { font-size: 1.1rem; font-weight: 500; border: none; color: #3B4E72;  padding: 0.75rem 1.5rem; box-shadow: none; background-color: #F1F1F1;}
.map_result_wrap .year_filter .search-group .form-control::placeholder { color: #c5c5c5;}
.map_result_wrap .year_filter .search-group .searchbtn { font-size: 1.1rem; padding: 0.75rem 1rem; background-color: #3B4E72;  color: #fff;}
.map_result_wrap .selected-region { width: 100%;  margin: 2rem 0 2.5rem; text-align: center; font-size: 2rem;  font-weight: 700;  color: #3B4E72;}
.map_result_wrap .fishing_content { display: flex; flex-wrap: wrap; gap: 3.5rem 1.5rem;}
.map_result_wrap .fishing_content .fishing_item { width: calc((100% - 1.5rem*2)/3); background-color: #fff;  box-shadow: 4px 4px 12px rgba(0,0,0,0.15); border-radius: 15px; overflow: hidden; transition: all 0.4s ease;}
.map_result_wrap .fishing_content .fishing_item:hover { transform: translateY(-15px);}
.map_result_wrap .fishing_content .fishing_item > a { display: flex;  flex-direction: column;}
.map_result_wrap .fishing_content .fishing_item .imgbox { position: relative; width: 100%; height: 0; padding-bottom: 80%;}
.map_result_wrap .fishing_content .fishing_item .imgbox > img {  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  object-fit: cover;}
.map_result_wrap .fishing_content .fishing_item .txt_info {  padding: 1.5rem 1rem;  display: flex;  flex-direction: column;}
.map_result_wrap .fishing_content .fishing_item .txt_info .tit {  font-size: 1rem;  font-weight: 600;  color: #444444;  margin-bottom: 0.25rem;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;}
.map_result_wrap .fishing_content .fishing_item .txt_info .date {  font-size: 0.9rem;  color: #a0a0a0; margin-bottom: 1rem;}
.map_result_wrap .fishing_content .fishing_item .txt_info .price {  font-size: 1.8rem; font-weight: 800; color: #02275f;  font-family: 'Pretendard', sans-serif;}
.map_result_wrap .fishing_content .fishing_item .txt_info .sub {  font-size: 0.9rem;  color: #a0a0a0;  margin-bottom: 0;  text-align: right;}

.map_result_wrap .pagination_box {  margin-top: 4rem;}
.map_result_wrap .pagination_box .pagination { justify-content: center;   align-items: center;}
.map_result_wrap .pagination_box .page-item { width: 36px;  height: 36px;}
.map_result_wrap .pagination_box .page-item .page-link { width: 100%; height: 100%; font-size: 0.85rem; color: var(--Text_info);  border: 0;  border-radius: 50px; padding: 0; display: flex; align-items: center; justify-content: center;}
.map_result_wrap .pagination_box .page-item.active .page-link { color: #fff;  background-color: #3B4E72; box-shadow: none;}
.map_result_wrap .pagination_box .page-item.start .page-link {background: no-repeat center/100% 100%; background-image: url("../imgs/btn_first.png"); }
.map_result_wrap .pagination_box .page-item.prev .page-link {background: no-repeat center/100% 100%; background-image: url("../imgs/btn_prev.png");}
.map_result_wrap .pagination_box .page-item.next .page-link {background: no-repeat center/100% 100%; background-image: url("../imgs/btn_next.png");}
.map_result_wrap .pagination_box .page-item.last .page-link {background: no-repeat center/100% 100%; background-image: url("../imgs/btn_last.png");}

.map_result_wrap .video_wrap { width: 30%;  padding: 3rem 2rem;  background-color: #F5F5F5; border-radius: 20px; margin-top: 2rem;}
.map_result_wrap .video_wrap .video_box { display: flex; align-items: flex-start;  justify-content: flex-start; gap: 2rem; flex-wrap: wrap;}
.map_result_wrap .video_wrap .video_item { width: 100%;  background-color: #fff; box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.15);  border-radius: 15px; overflow: hidden;}
.map_result_wrap .video_wrap .video_item .thum { position: relative; display: flex;overflow: hidden; width: 100%; height: 0; padding-bottom: 50%;}
.map_result_wrap .video_wrap .video_item .thum > img { width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0;  top: 0;}
.map_result_wrap .video_wrap .video_item .thum::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 60%;  background: linear-gradient(to top, black, transparent); z-index: 10; opacity: 0.4;}
.map_result_wrap .video_wrap .video_item .txtbox { padding: 0.75rem 0.75rem 1rem}
.map_result_wrap .video_wrap .video_item .video_tit { color: #000; font-size: 1rem; font-weight: 600; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5;  margin-bottom: 0; line-height: 1.5em; min-height: 3em;}
.map_result_wrap .video_wrap .video_item .video_info {display: flex; align-items: center; gap: 0.25rem; margin-top: 0.5rem; }
.map_result_wrap .video_wrap .video_item .video_info span {color: #444;font-size: 0.85rem;}
.map_result_wrap .video_wrap .video_item .video_info span.dot {display: block;  width: 3px;height: 3px; background-color: #444444; border-radius: 50%;}

.map_footer { position: relative; padding: 4rem 0;  background-color: #f5f5f5; margin-top: 10rem;}
.map_footer_inner { width: 90%; max-width: 1000px; margin: auto;  text-align: center;}
.map_footer .footer_title { font-size: 2rem;color: #000000;}
.map_footer .footer_menu { display: flex; align-items: center;  justify-content: center; font-size: 1rem;  gap: 10px; margin-bottom: 1.5rem;}
.map_footer .footer_menu > a { font-size: 1rem; color: #777777;  display: block;}
.map_footer .footer_menu > a:hover { color: #387ce1;}
.map_footer .footer_menu span.bar { display: block; width: 1px;  height: 0.8rem;  background-color: #b9b9b9;}
.map_footer .footer_disclaimer { font-size: 0.95rem;  color: #a0a0a0; margin-bottom: 2rem;}
.map_footer .footer_copyright { font-size: 0.9rem; color: #666666; margin-bottom: 0.25rem;}
.map_footer .footer_email { font-weight: 500; font-size: 0.9rem; color: #666666;}
.map_footer .footer_email .mail:hover { color: #387ce1;}




/* PC 반응형 */

@media screen and (max-width: 1680px) {    
    html {font-size: 16px !important;}        
}


@media screen and (max-width: 1580px) {    
    html {font-size: 15.5px !important;}            
}


@media screen and (max-width: 1440px) {    
    html {font-size: 15px!important;}        
}


@media screen and (max-width: 1380px) {    
    html {font-size: 14.5px !important;}      
}


@media screen and (max-width: 1280px) {  
    .map_wrap .left_box .region_select .form-check {width: calc((100% - 1.176rem * 3)/4); }
}


@media screen and (max-width: 1200px) {    
    html {font-size: 14px !important;}     
}


@media screen and (max-width: 1024px) {   

    .pc {display: none !important}
    .mob {display: block !important;}
    .wrap {height: auto; }
    
    html {font-size: 17px !important;}

    .map_wrap {position: relative; left: auto; top: auto; }
    .map_wrap .map_inner { height: 100%; flex-direction: column; gap: 3rem;  padding: 3rem 0; }
    .map_wrap .map_bgbox {width: 80%;left: 50%; top: 0; transform: translateX(-50%); height: initial;}
    .map_wrap .map_bgbox > img { max-width: 100%; }
    .map_wrap .left_box { position: relative; width: 100%;  z-index: 10; min-height: initial;  padding: 3rem;  gap: 2.25rem;}
    .map_wrap .left_box .title .tit { font-size: 2rem; margin-bottom: 0.5rem;}
    .map_wrap .left_box .title .desc { font-size: 1.3rem; }
    .map_wrap .left_box .region_select .form-check {width: calc((100% - 1.176rem * 4)/5); }
    .map_wrap .right_box { position: relative; width: 100%; padding-right: 0; } 
    
    .map_result_wrap .map_result_inner { flex-direction: column; }
    .map_result_wrap .video_wrap { width: 100%; margin-top: 4rem; }
    .map_result_wrap .video_wrap .video_box { gap: 1.5rem; }
    .map_result_wrap .video_wrap .video_item { width: calc((100% - 1.5rem*2)/3); }
    .map_result_wrap .map_content {max-width: 100%;}
    .map_footer {  margin-top: 7rem; }
    .map_footer .footer_disclaimer { width: 85%; margin: 0 auto 2rem; word-break: keep-all; }
    .map_footer .footer_disclaimer br { display: none; }
    
}


@media screen and (max-width: 900px) {

    .map_result_wrap .map_banner { height: 16rem; }
    .map_result_wrap .map_type_select { gap: 3%; }
    .map_result_wrap .map_type_select > li .icon { width: 50%; }
    .map_result_wrap .map_type_select > li .box { gap: 0.5rem; }
    .map_result_wrap .year_filter .filter_box { width: 100%; }
    .map_result_wrap .fishing_content .fishing_item { width: calc((100% - 1.5rem)/2); }

}


@media screen and (max-width: 700px) {

    .map_wrap .left_box { padding: 3rem 2rem; }
    .map_wrap .left_box .region_select .form-check { width: calc((100% - 1.176rem * 3)/4);}

    .map_result_wrap .video_wrap .video_item { width: calc((100% - 1.5rem)/2); }

}


@media screen and (max-width: 599px) {
    html {font-size: 15px !important;}

    .map_wrap .map_inner {height: 85%; }
    .map_wrap .left_box {padding: 2.85rem 2rem 4rem; gap: 2rem; }
    .map_wrap .left_box .title .tit { font-size: 1.7rem; margin-bottom: 0.5rem; }
    .map_wrap .left_box .region_form { width: 100%; flex: 1; display: flex; flex-direction: column; justify-content: space-between; }
    .map_wrap .left_box .region_select { gap: 1rem 1.176rem; }    
    .map_wrap .left_box .region_select .form-check-label { font-size: 1rem; }
    .map_wrap .right_box .video_item { width: 100%; }

    .map_result_wrap .map_type_select { gap: 1.5rem; flex-wrap: wrap; }
    .map_result_wrap .map_type_select > li { width: calc((100% - 3rem)/2); padding-bottom: calc((100% - 3rem)/2); }
    .map_result_wrap .map_type_select > li.selected { width: calc((100% - 3rem)/2); padding-bottom: calc((100% - 3rem)/2); }
    .map_result_wrap .map_type_select > li .box { gap: 0.85rem; }
    .map_result_wrap .select_filter { flex-direction: column; }
    .map_result_wrap .select_filter .select_box { width: 100%; }
    .map_result_wrap .fishing_content .fishing_item { width: 100%;  }
    .map_result_wrap .video_wrap .video_item { width: 100%; }
    .map_footer .footer_disclaimer { width: 100%; margin: 0 auto 1.5rem; font-size: 0.9rem; }
    .map_footer .footer_disclaimer br { display: block; }
    .map_footer .footer_copyright { font-size: 0.85rem; }

}

    
@media screen and (max-width: 480px) {  
    html { font-size: 14px !important;}  
}




