<!DOCTYPE html>

<html lang="en">
<head>
    {% include 'head.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="Title" content="스마트한 중고선박 매물검색, 중고보트.com! : 매물검색 사이트"/>
    <meta name="Description" content="중고선박 매물검색, 가격비교사이트"/>
    <meta name="Keywords" content="중고선박, 중고배, 중고보트, 중고배 매물, 중고어선, 중고레저선, 중고낚시배, 기타선박, 레저선박, 근해어선, 연안어선, 낚시배, 레저배, 주낙배"/>
    <meta name="Subject" content="스마트한 중고선박 매물검색, 중고보트.com! : 매물검색 사이트">
    <meta name="author" content="https://xn--299ay81a07iqvj.com">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="스마트한 중고선박 매물검색, 중고보트.com! : 매물검색 사이트"/>
    <meta property="og:url" content="https://xn--299ay81a07iqvj.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="중고선박 매물검색, 가격비교사이트"/>
    <meta property="og:site_name" content="중고선박 매물검색 : 매물검색 사이트"/>
    <meta property="og:image" content="https://xn--299ay81a07iqvj.com/static/imgs/mainlogo.png"/>
</head>
<body>
<div class="index-wrap" style="text-align: center;">
    <h1 class="logo_font" style="font-size: 5rem;"><a href="{% url 'base' %}">중고보트.com</a></h1>

</div>
{% include 'header.html' %}
{% block content %}
{% endblock %}

{% include 'footer.html' %}
</body>
</html>