{% load static %}
<div class="category_wrap">
    <ul class="categories_link">
        <a href="{% url 'articleapp:fishing_vessel' %}">
            <li>
                <p style="background-image: url('{% static 'imgs/fishing_vessel.jpg' %}');"></p>
                <span>어선</span>
            </li>
        </a>
        <span class="separator"></span>
        <a href="{% url 'articleapp:fishing_boat' %}">
            <li>
                <p style="background-image: url('{% static 'imgs/fishing_boat.jpg' %}');"></p>
                <span>낚시배</span>
            </li>
        </a>
        <span class="separator"></span>
        <a href="{% url 'articleapp:leisure_boat' %}">
            <li>
                <p style="background-image: url('{% static 'imgs/leisure_boat.jpg' %}');"></p>
                <span>레저선</span>
            </li>
        </a>
        <span class="separator"></span>
        <a href="{% url 'articleapp:etc' %}">
            <li>
                <p style="background-image: url('{% static 'imgs/etc.jpg' %}');"></p>
                <span>기타선박</span>
            </li>
        </a>
    </ul>
</div>
