{% load static %}
<title>중고보트.com</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<!--  DEFAULT CSS LINK  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{#네이버 사이트소유확인#}
<meta name="naver-site-verification" content="14f0bc9833811d2794b2faf2891581b4c530bd7d" />

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Range slider -->
<link rel="stylesheet" href="{% static 'articleapp/css/ion.rangeSlider.min.css' %}"/>
<script src="{% static 'articleapp/js/ion.rangeSlider.min.js' %}"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4F125YWWBK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4F125YWWBK');
</script>

{% block nextPgaeLinkTag %}{% endblock %}

{# 한국선박중개소 link 이동 #}
<script>
    function ship_detail_pop(shipNo) {
        window.open('http://www.ksupk.or.kr/file/ship_view_pop.php?no=' + shipNo, 'win_ship_pop', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=auto,resizable=no,copyhistory=no,width=1224,height=704,left=10');
        window.location.href = 'http://www.ksupk.or.kr/file/ship_sale_list5.php?cs_ancestor=3&cs_mkey=3';
    }

    function daehan_sunbak_openShipDetails(boardURL, detailURL) {
        window.open(detailURL, '_blank', 'width=1200, height=700, scrollbars=yes, resizable=yes');
        window.location.href = boardURL;
    }
</script>