{% extends 'base.html' %}
{% load static %}

{% block nextPgaeLinkTag %}
    {% if page_obj.has_next %}
        <link rel="next" href="?{{ query_params }}&page={{ page_obj.next_page_number }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <form id="search-form" method="get" class="search-form flex-container">
        {#        <select name="site_name" onchange="submitForm()">#}
        {#            <option value="">전체</option>#}
        {#            {% for site in site_names %}#}
        {#                <option value="{{ site }}" {% if selected_site_name == site %}selected{% endif %}>{{ site }}</option>#}
        {#            {% endfor %}#}
        {#        </select>#}
        <select name="order" onchange="submitForm()">
            <option value="update_desc" {% if order == 'update_desc' %}selected{% endif %}>최신순</option>
            <option value="update_asc" {% if order == 'update_asc' %}selected{% endif %}>과거순</option>
            <option value="price_desc" {% if order == 'price_desc' %}selected{% endif %}>높은가격순</option>
            <option value="price_asc" {% if order == 'price_asc' %}selected{% endif %}>낮은가격순</option>
        </select>

        <select name="region" onchange="submitForm()">
            <option value="">지역 전체</option>
            {% for region in regions %}
                <option value="{{ region }}" {% if selected_region == region %}selected{% endif %}>{{ region }}</option>
            {% endfor %}
        </select>

        <input type="text" name="query" placeholder="검색어를 입력하세요" value="{{ request.GET.query }}">

        <button type="submit">검색</button>
    </form>
    <div class="year-filter">
        <label for="min_modelYear" class="year-label">모델 연식 지정</label>
        <input type="number" name="min_modelYear" id="min_modelYear" value="{{ request.GET.min_modelYear }}" class="filter-input" placeholder="2016">
        <span class="year-range-symbol">~</span>
        <input type="number" name="max_modelYear" id="max_modelYear" value="{{ request.GET.max_modelYear }}" class="filter-input" placeholder="2022">
        <button class="searchbtn">🔍</button>

    </div>
    <div class="filter_slide">

        <input type="text" id="price" name="price" value="{{ request.GET.price }}"/>
        <input type="text" id="tons_weight" name="tons_weight" value="{{ request.GET.tons_weight }}"/>
    </div>
    <script src="{% static 'articleapp/js/filters.js' %}"></script>
    <div class="main_slide">
        <ul>
            {% for article in articles %}
                <li>
                    {% if article.siteName == '한국선박중개소' %}
                        <a href="{{ article.detailURL }}" class="card-link">
                    {% elif article.siteName == '도시선박' %}
                        <a href="{{ article.detailURL }}" class="card-link">
                    {% elif article.siteName == '대한선박중개' %}
                        <a href="#" onclick="javascript:daehan_sunbak_openShipDetails('{{ article.boardURL }}','{{ article.detailURL }}')" class="card-link">
                    {% endif %}
                    {% if article.thumb_image %}
                        <img src="{{ article.thumb_image.url }}" alt="{{ article.title }}" style="object-fit: cover; height: 200px;">
                    {% else %}
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ article.title }}" style="object-fit: cover; height: 200px;">
                    {% endif %}
                    <div class="txt_info">
                        <p>{{ article.title }}</p>
                        <span>{{ article.updated_at|date:"Y-m-d" }}</span>
                        <h1>{{ article.price }}</h1>
                        <b>{{ article.siteName }}</b>
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- pagination 추가 -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}">&lt;</a>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if i >= page_obj.number|add:"-2" and i <= page_obj.number|add:"2" %}
                    {% if page_obj.number == i %}
                        <span class="current">
                            {{ i }}
                        </span>
                    {% else %}
                        <a href="?{{ query_params }}&page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}">&gt;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
