{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역선택</title>


    <!-- CSS -->
    <link href="{% static 'articleapp/css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'articleapp/css/xeicon.css' %}">
    <link rel="stylesheet" href="{% static 'articleapp/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'articleapp/css/map.css' %}">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">


</head>

<body>

<div class="wrap">

    <div class="contents map_wrap">
        <div class="map_inner">
            <div class="map_bgbox">
                <img src="{% static 'articleapp/imgs/map_img.png' %}" alt="" class="img-fluid">
            </div>
            <div class="left_box">
                <div class="title">
                    <p class="tit">
                        중고선박 매물조회
                    </p>
                    <p class="desc mb-0">
                        지역을 선택해주세요.
                    </p>
                </div>
                <form method="GET" action="/" class="region_form">
                    <div class="region_select">
                        {% for region in regions %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="region_radio" id="region{{ forloop.counter }}">
                                <label class="form-check-label" for="region{{ forloop.counter }}">
                                    {{ region }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="right_box">
                <ul class="video_box">
                    {% for video_id, title in video_ids %}
                        <li class="video_item">
                            <a href="https://www.youtube.com/watch?v={{ video_id }}">
                                <div class="thum">
                                    <img src="https://img.youtube.com/vi/{{ video_id }}/mqdefault.jpg" alt=""
                                         class="img-fluid">
                                </div>
                                <div class="txtbox">
                                    <p class="video_tit">
                                        {{ title }}
                                    </p>
                                    {#                                <div class="video_info">#}
                                    {#                                    <span>조회수 107만회</span>#}
                                    {#                                    <span class="dot"></span>#}
                                    {#                                    <span>2년 전</span>#}
                                    {#                                </div>#}
                                </div>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>


<!-- JS -->
{#<script src="./js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>#}
{#<script src="./js/jquery-3.4.1.min.js"></script>#}
<script src="./js/common.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const regionRadios = document.querySelectorAll('input[name="region_radio"]');
        regionRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                if (this.checked) {
                    let regionName = this.nextElementSibling.textContent.trim();
                    window.location.href = `/sunbaks/?region=${regionName}`;
                }
            });
        });
    });
</script>


</body>

</html>